<%= provide(:title, 'Learning') %>
<div class="row">
	<aside class="span4">
		<section>
			<h2>!!NOT USED!! Cardset: </h2>
			<% @cards.each do |card| %>
				<p><%= card.question %> | level: <%= card.level ? card.level.status : 0 %></p>
				<p><%= link_to "Edit card", edit_cardset_card_path(card.cardset, card) %></p>
				<p><%= link_to "Delete card", cardset_card_path(card.cardset, card),
																			method: :delete,
																			data: { confirm: "You sure?" } %></p>
			<% end %>
		</section>
	</aside>
</div>