<% provide(:title, 'New set of cards') %>
<h1>Create a new set of cards</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@cardset) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :topic %>
      <%= f.text_field :topic %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Create a new set of cards", class: "btn" %>
    <% end %>
  </div>
</div>