<%= provide(:title, @cardset.topic) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>Learning <%= @cardset.topic %></h1>
			<p><%= @cardset.description %></p>
			<% @cards.each do |status, cards| %>
				<% if cards.first.level.nil? %>
					<p><%= link_to "Learn Level #{status}", new_cardset_card_level_path(@cardset, cards.first) %></p>
					<p><%= cards.count %> Cards</p>
					<% cards.each do |card| %>
						<p>
							<%= card.question %> | level: <%= card.level ? card.level.status : 0 %>
							| sort_order: <%= card.level ? card.level.sort_order : 0 %>
						</p>
					<% end %>
				<% else %>
					<p><%= link_to "Learn Level #{status}", edit_cardset_card_level_path(@cardset, cards.first, cards.first.level) %></p>
					<p><%= cards.count %> Cards</p>
					<% cards.each do |card| %>
						<p>
							<%= card.question %> | level: <%= card.level ? card.level.status : 0 %>
							| sort_order: <%= card.level.sort_order %>
						</p>
					<% end %>
				<% end %>
			<% end %>
		</section>
	</aside>
</div>