<% provide(:title, 'Learning') %>

<div class="row">
  <div class="span7 offset3">
    <%= form_for [@cardset, @card, @level] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="card">
        <p><%= @card.question %></p>
      </div>
      
      <p><input type="button" class="btn" value="Show answer"></p>

      <div class="answer" style="display: none">
        <div class="card">
          <p><%= @card.answer %></p>
        </div>
        <p><%= f.submit "correct", class: "btn btn-success" %></p>
        <p><%= f.submit "false", class: "btn btn-danger" %></p>
      </div>

    <% end %>
  </div>
</div>