<% provide(:title, 'Edit card') %>
<h1>Edit card</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for [@cardset, @card] do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :question %>
			<%= f.text_area :question %>

			<%= f.label :answer %>
			<%= f.text_area :answer %>

			<%= f.submit "Save changes", class: "btn" %>
		<% end %>
	</div>
</div>